<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="browsermode" content="application"/>
	<meta name="x5-orientation" content="portrait">
	<meta name="x5-page-mode" content="app">
	<title>登录失败</title>
	<link rel="stylesheet" href="../assets/css/reset.css">
	<link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>
	<div id="wrapper">
		<div class="logo"><img src="../assets/img/logo2.jpg" alt="logo"></div>
		<div class="prompt">登录失败,请重新登录</div>
		<div class="btn" onclick="location.href='/'">重新登录</div>
	</div>
</body>
</html>