<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta content="telephone=no,email=no" name="format-detection">
	<meta name="browsermode" content="application"/>
	<meta name="x5-orientation" content="portrait">
	<meta name="x5-page-mode" content="app">
	<title>登录界面</title>
	<link rel="stylesheet" href="../assets/css/reset.css">
	<link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>
	<div id="wrapper">
		<div class="logo"><img src="../assets/img/logo2.jpg" alt="logo"></div>
		<div class="tips">My first web using node as server</div>
		<form action="/index" method="post">
		<div class="login_box">
			<label><div>用户名</div><input type="text" name="name"></label>
			<div class="line"></div>
			<label><div>密&nbsp;&nbsp;&nbsp;码</div><input type="password" name="password"></label>
		</div>
		<input type="submit" value="登录">
		</form>
	</div>
</body>
</html>